<% @lessons.each do |lesson| %>
  <%= link_to lesson_path(lesson) do  %>
    <div class="container">
      <div class="card">
        <div class="image">
          <%= cl_image_tag lesson.photo.key %>
        </div>
        <div class="card-product-infos">
          <h2><%= lesson.sport.name.capitalize %> lesson at <%= lesson.location %></h2>
          <p><%= lesson.description %></p>
          <p id="time"><strong><%= lesson.week_day %> from <%= lesson.start_time %>:00 to <%= lesson.end_time %>:00</strong></p>
          <p><%= lesson.max_attendees - lesson.appointments.length %> Spots Available</p>
        </div>
        <div class="card-right">
          <div class="card-price">
            <p>$<%= lesson.price %></p>
          </div>
          <div class="card-review">
           <% lesson.avg_review.times do  %>
            <i class="fas fa-star"></i>
            <% end %>
          </div>
      </div>
    </div>
</div>
<% end %>
<% end %>





<!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->
