<div class="modal-body px-5">
  <%= simple_form_for (lesson) do |f| %>
    <%= f.association :sport %>
    <%= f.input :description %>
    <div class="d-flex justify-content-between">
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.input :week_day %>
    </div>
    <%= f.input :location %>
    <%= f.input :address %>
    <div class="d-flex justify-content-between">
      <%= f.input :price %>
      <%= f.input :max_attendees %>
    </div>
    <%= f.input :photo, as: :file %>
    <%= f.input :equipment, label: 'Includes equipment' %>
    <%= f.input :difficulty, collection:["Beginner", "Intermediate", "Advanced"]%>
    <div class="modal-footer justify-content-between">
      <% if lesson.id %>
        <%= link_to "Delete lesson", lesson_path(lesson), class: 'btn btn-danger', data: {confirm: 'Are you sure?'}, method: :delete %>
      <% end %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
