<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag asset_path('sunshine_ilustration.png') %>
  <% end %>

  <!-- Search Bar -->

  <%= form_tag lessons_path, class: 'form-inline', method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Lesson", size: '35'
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
        <li class="nav-item mx-3">
          <%= link_to "Create lesson", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
        </li>
      <% else %>
        <li class="nav-item mx-3">
          <%= link_to "Enrolled in", lessons_path(student: 'true'), class: "nav-link" %>
        </li>
        <% if current_user.role == 'Teacher' %>
          <li class="nav-item mx-3">
            <%= link_to 'Create lesson', '', class: "nav-link", data: { toggle: "modal", target: "#newModal"} %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to "My Lessons", lessons_path(query: current_user.first_name), class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <div class="dropdown">
            <div class="avatar d-flex align-items-center justify-content-center" id="dropdownMenu" data-toggle="dropdown" aria-haspopup=true aria-expanded=false style='color: white; background-color: rgb(50,50,50);' id="navbarDropdown" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false'>
              <%= current_user.first_name[0] + current_user.last_name[0] %>
            </div>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  <!-- New Modal -->
  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newModalLabel">New Lesson</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render "shared/lesson_form", lesson: @lesson %>
      </div>
    </div>
  </div>
