<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://files.secure.website/wscfus/10557266/25490387/autocolante-prancha-w300-o.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if !user_signed_in? %>
        <li class="nav-item mx-3">
          <%= link_to "Create lesson", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item mx-3">
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
        </li>
      <% else %>
        <% if current_user.role == 'teacher' %>
          <%= link_to 'Create lesson', '', class: "nav-link", data: { toggle: "modal", target: "#newModal"} %>
        <% end %>
        <li class="nav-item mx-3">
          <%= link_to "Lessons", lessons_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <div class="avatar d-flex align-items-center justify-content-center" style='color: white; background-color: rgb(50,50,50);' id="navbarDropdown" data-toggle="dropdown" aria-haspopup='true' aria-expanded='false'>
              <%= current_user.first_name[0] + current_user.last_name[0] %>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- New Modal -->
<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newModalLabel">New Lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render "shared/lesson_form", lesson: @lesson %>
    </div>
  </div>
</div>
