<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Surfing lesson at <%= @lesson.location %></h2>
        <% if policy(@lesson).edit? %>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#editModal">
            Edit
          </button>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <p class='text-muted m-0'><%= @lesson.week_day %> from <%= @lesson.start_time %>:00 to <%= @lesson.end_time %>:00</p>
        <p><%= @avg_review %>/5</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='lesson-image rounded-lg mb-5 mt-3' style="background-image: url('/assets/surf_lesson_1.jpg');">
    </div>
  </div>
  <div class='row border-bottom pb-4 mb-4'>
    <div class='col-6 p-0'>
      <div class="px-3">
        <div>
          <div class='d-flex justify-content-between align-items-center mb-3'>
            <h4 class='m-0'><%= @lesson.user.first_name %>'s Surf School</h4>
            <%= image_tag "teacher.png", alt: "teacher", class: 'avatar-large' %>
          </div>
        </div>
        <p><%= @lesson.description %></p>
      </div>
    </div>
    <div class="col-5 offset-1 p-0">
      <div class="rounded-lg p-3 text-center shadow border-0">
        <div class="d-flex justify-content-center my-3">
          <% (@appointments.length).times do %>
            <%= icon('fas', 'user', class: ' px-1')%>
          <% end %>
          <% (@lesson.max_attendees - @appointments.length).times do %>
          <%= icon('fas', 'user', class: 'px-1', style: 'color: rgb(180,180,180);') %>
          <% end %>
        </div>
        <p> <%= @lesson.max_attendees - @appointments.length %> places remaining</p>
        <h5 class='m-0'>$ <%= @lesson.price %>.00</h5>
        <% if !@user_owns_lesson && @lesson.under_limit? %>
          <% if @user.has_appointment?(@lesson) %>
            <%= link_to 'Cancel lesson', appointment_path(@user.appointments.find_by lesson: @lesson), method: 'delete', class: "btn btn-danger mt-4 mx-3" %>
          <% else %>
            <%= link_to 'Join this lesson', lesson_appointments_path(@lesson), method: 'post', class: "btn btn-primary mt-4 mx-3" %>
          <% end %>
        <% end%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h4 class='mb-4'>Reviews</h4>
        <% if policy(@review).create? %>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#reviewModal">
            Write a review
          </button>
        <% end %>
      </div>
      <% @reviews.each do |review| %>
        <div class='mb-4'>
          <div class="d-flex align-items-center mb-2">
            <%= image_tag "teacher.png", alt: "teacher", class: 'avatar-large' %>
            <div class='ml-3'>
              <h5 class="mb-0"><%= review.user.first_name + ' ' + review.user.last_name %></h5>
              <p class="mb-0 text-muted"><%= review.created_at.strftime('%D') %></p>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <p><%= review.content %></p>
            <p><%= review.rating %>/5</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@lesson) do |f| %>
          <%= f.input :description %>
          <div class="d-flex justify-content-between">
            <%= f.input :start_time %>
            <%= f.input :end_time %>
            <%= f.input :week_day %>
          </div>
          <%= f.input :location %>
          <%= f.input :price %>
          <%= f.input :max_attendees %>
          <div class="modal-footer">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Review Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalLabel">Your Review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [ @lesson, @review ] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <div class="modal-footer">
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
